///*------------------------------------*\
//    # GENERIC COLOURS
//\*------------------------------------*/

// bbc products
$c-share-green: #68bf22;
$c-share-green-active: #6bbd45;

// social networks
$c-facebook: #3c5a98;
$c-google-plus: #dc4b38;
$c-instagram: #406e95;
$c-pinterest: #cc2127;
$c-soundcloud: #f50;
$c-twitter: #47c7fa;
$c-whatsapp: #1a870f;
$c-youtube: #b31217;
