///*------------------------------------*\
//    # GENERIC COLOURS
//\*------------------------------------*/

// bbc products
$c-share-green: #0b8a0b;
$c-share-green-active: #0da20d;

// social networks
$c-facebook: #3c5a99;
$c-google-plus: #dc4b38;
$c-instagram: #406e95;
$c-pinterest: #bd081c;
$c-soundcloud: #f50;
$c-twitter: #1da1f2;
$c-whatsapp: #25d366;
$c-youtube: #ff0000;
$c-linkedin: #0077B5;

// reactions
$c-reactions-dislike: #e41838;

