///*------------------------------------*\
//    # MY BBC COLOURS
//\*------------------------------------*/

// Core Colours (Legacy)
$mb-c-lochmara: #007bc7;
$mb-c-science-blue: #005bc8;
$mb-c-astral: #3179b5;
$mb-c-curious-blue: #3d91df;


$mb-c-blue-ribbon: #006def; // Farringdon
$mb-c-azure-radiance: #0091ff; //Farringdon light (TBC)
$mb-c-mercury: #e4e4e4;
$mb-c-emperor: #525252;
