///*------------------------------------*\
//    # MY BBC COLOURS
//\*------------------------------------*/

// Core Colours
$mb-c-lochmara: #007bc7;
$mb-c-blue-ribbon: #006def;
$mb-c-science-blue: #005bc8;
$mb-c-astral: #3179b5;
$mb-c-curious-blue: #3d91df;