///*------------------------------------*\
//    # NEWSROUND COLOURS
//\*------------------------------------*/

// Core Colours
$nwr-c-teal: #50BAB3;
$nwr-c-blue: #2CB8C9;
$nwr-c-purple: #413880;
$nwr-c-pink: #C13783;
$nwr-c-orange: #E87D43;
