///*------------------------------------*\
//    # NEWS COLOURS
//\*------------------------------------*/

// Core Colours
$nw-c-red: #bb1919;
$nw-c-white: #fff;
$nw-c-black: #1e1e1e;
$nw-c-charcoal: #404040;

// supporting colours
$nw-c-dark-grey: #323232;
$nw-c-grey: #808080;
$nw-c-pale-grey: #dcdcdc;
$nw-c-mist: #f2f2f2;

// link colours
$nw-c-dark-blue: #1167a8;
