///*------------------------------------*\
//    # NEWSROUND COLOURS
//\*------------------------------------*/

// Core Colours
$nwr-c-teal: #22D8D0;
$nwr-c-purple: #561BAA;
$nwr-c-pink: #D9298E;
$nwr-c-orange: #FF832C;
$nwr-c-blue: #00C3E1;


// Darks
$nwr-c-dark-purple: #3A0E75;
$nwr-c-charcoal-purple: #353866;
$nwr-c-charcoal: #34314C;
$nwr-c-off-black: #011638;
$nwr-c-black: #000000;

// Pastels
$nwr-c-white: #FFFFFF;
$nwr-c-putty: #E6E6E6;
$nwr-c-pastel-purple: #EFEAF7;
$nwr-c-pastel-orange: #FFF3EA;
$nwr-c-pastel-teal: #EAFBFA;
$nwr-c-pastel-blue: #E6F9FC;
