///*------------------------------------*\
//    # NEWS COLOURS - OLD
//\*------------------------------------*/

// Core Colours
$nw-c-red: #bb1919;
$nw-c-white: #fff;
$nw-c-black: #1e1e1e;
$nw-c-charcoal: #404040;

// supporting colours
$nw-c-dark-grey: #323232;
$nw-c-grey: #808080;
$nw-c-pale-grey: #dcdcdc;
$nw-c-mist: #f2f2f2;

// link colours
$nw-c-dark-blue: #1167a8;


///*------------------------------------*\
//    # NEWS COLOURS - NEW
//\*------------------------------------*/
$nw-c-bling: #C9A974;
$nw-c-ebon: #222222;
$nw-c-kingfisher: #1380A1;
$nw-c-kingfisher-dark: #106078;
$nw-c-newsbeat: #4D2C7A;
$nw-c-oat: #F2EFEC;
$nw-c-postbox: #BB1919;
$nw-c-rhino: #5A5A5A;
$nw-c-ruby: #990000;
$nw-c-stone: #d5d0cd;
$nw-c-stone-dark: #7B756F;
$nw-c-storm: #404040;
$nw-c-white: #ffffff;

/* Lines */
$nw-c-keyline: $nw-c-stone;

/* Links */
$nw-c-link: $nw-c-ebon;
$nw-c-hover-and-focus: $nw-c-kingfisher;
$nw-c-visited: $nw-c-stone-dark;

/* Text */
$nw-c-heading: $nw-c-ebon;
$nw-c-body-copy: $nw-c-storm;
$nw-c-summary-text: $nw-c-rhino;
$nw-c-timestamp-text: $nw-c-rhino;
