///*------------------------------------*\
//    # NEWS COLOURS - OLD
//\*------------------------------------*/

// Core Colours
$nw-c-red: #bb1919;
$nw-c-white: #fff;
$nw-c-black: #1e1e1e;
$nw-c-charcoal: #404040;

// supporting colours
$nw-c-dark-grey: #323232;
$nw-c-grey: #808080;
$nw-c-pale-grey: #dcdcdc;
$nw-c-mist: #f2f2f2;

// link colours
$nw-c-dark-blue: #1167a8;


///*------------------------------------*\
//    # NEWS COLOURS - NEW
//\*------------------------------------*/
$nw-bling: #C9A974;
$nw-ebon: #222222; /* link */
$nw-kingfisher: #1380A1; /* hover and focus */
$nw-kingfisher-dark: #106078;
$nw-newsbeat: #4D2C7A;
$nw-oat: #F2EFEC;
$nw-postbox: #BB1919;
$nw-rhino: #5A5A5A; /* summary text */
$nw-ruby: #990000;
$nw-stone: #990000;
$nw-stone-dark: #7B756F; /* visited link and keylines */
$nw-storm: #404040; /* body text */
