///*------------------------------------*\
//    # SPORT COLOURS
//\*------------------------------------*/

// Core Colours
$sp-c-yellow: #ffdf43;
$sp-c-white: #fff;
$sp-c-black: #121212;
$sp-c-charcoal: #404040;
$sp-c-mortar: #5a5a5a;

// supporting colours
$sp-c-mine-shaft: #212121;
$sp-c-silver: #dbdbdb;
$sp-c-cloud: #ededed;
$sp-c-mist: #f7f7f5;
$sp-c-sunglow: #fddd2c;
$sp-c-earls-green: #c6af36;

// link colours
$sp-c-dark-blue: #255aa9;
$sp-c-sky-blue: #b6e1f9;

// other products
$sp-c-news-red: #bd1017;
$sp-c-live-blue: #1169f6;
$sp-c-live-blue-on-dark: #0186ff;

// Other colours
$sp-c-fern-green: #4f7929;
$sp-c-monza-red: #d00;
$sp-c-kelly-green: #44c424;
$sp-c-science-blue: #0066c2;
$sp-c-solitude-blue: #e5f2ff;

// Stats colours
$sp-c-stats-left: #2c7bb4;
$sp-c-stats-right: #043d66;
