///*------------------------------------*\
//    # SPORT COLOURS
//\*------------------------------------*/

// Core Colours
$sp-c-yellow: #fddd2c;
$sp-c-white: #fff;
$sp-c-black: #404040;
$sp-c-mid-grey: #5a5a5a;

// supporting colours
$sp-c-dark-grey: #434343;
$sp-c-silver: #dbdbdb;
$sp-c-cloud: #ededed;
$sp-c-mist: #f7f7f5;

// link colours
$sp-c-dark-blue: #255aa9;
$sp-c-sky-blue: #b6e1f9;

// other products
$sp-c-news-red: #bd1017;
$sp-c-live-blue: #0186ff;
